/*Estilização geral do site*/
body{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    border: 0;

}
/*Estilização do header da pagina*/
header{
    background-color:black;
}
/*Estilização do LOGOTIPO*/
.logo{
    width:30%;
}
/*Estilização do MENU*/
nav{
    right: 0;
    position: absolute;
    top: 100px;
}
nav li {
    display: inline;
    margin:0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: orangered;
    text-decoration: underline;
}
.logo_caixa{
    width: 940px;
    position:relative;
    margin:auto;
}
.banner{
    width:100%;
}
/*Estilizção da sessão Sobre a GNP FIT*/
.gnpfit {
    width: 100px;
    float: left;
    margin: 0 20px;
}
.titulo_gnp {
    clear: left;
    text-align: center;
}
.area_gnp {
    width: 55%;
    text-align: justify;
    margin: auto;
    background-color:white;
}
/*Titulos padrão*/
.titulos_padrao {
    text-align: center;
}
/*Estilização da sessão Nosso estabelecimento (mapa)*/
.mapa {
    padding:1%;
    background:linear-gradient(white,orangered)
}
.mapa p{
    text-align: center;
}
.mapa iframe{
    margin: auto;
    display: block;
}
/*Estilização da sessão Beneficios*/
.beneficios{
    padding:2%;
    background-color: orangered;
}
.conteudo_beneficios{
    width: 100%;
    margin:0 auto;
}
.lista_beneficios{
    width:15%;
    display:inline-block;
    vertical-align: top;
    list-style: "💪🏼";
    padding-left: 40%;
    margin-top: 30px;
}
.itens {
    line-height: 1.5;
}
.itens:before{
    content: "";
}
.img_beneficios{
    width:130px;
    box-shadow: 10px 10px 5px 0px black;
    opacity: 1;
    transition: 400ms;
    margin-top: 20px;
}

.img_beneficios:hover{
    opacity:0.7;
}

.video{
    padding:2%;
    text-align: center;
}

footer{
    text-align: center;
    background-color: black;
    padding: 70px;
    margin: 0;
}

.copyright {
    color:white;
    font-size: 12px;
    margin: 20px;
}

.logo_footer {
    width: 10%;
}

.titulo_plano {
    color: black;
}

.titulo_plano::before {
    content:"📄";
}

.area_plano {
    background-color: white;
    padding: 40px;
}

.p_plano {
    color: black;
    text-align: center;
}

.borda1 {
    display:inline-block;
    width: 200px;
    height: 200px;
    border: 4px solid black;
    margin: 20px 0 20px 450px;
    border-radius: 5px;
}

.borda2 {
    display:inline-block;
    width: 200px;
    height: 200px;
    border: 4px solid black;
    margin: 20px 100px 20px 100px;
    border-radius: 5px;
}

.borda3 {
    display:inline-block;
    width: 200px;
    height: 200px;
    border: 4px solid black;
    margin: 20px 0 20px 0;
    border-radius: 5px;
}

.titulo_borda {
    text-align: center;
    color: black;
    font-size: 20px;
}

.p_borda {
    text-align: center;
    color:black;
}

.logo_borda {
    width: 40px;
}

.p_valor {
    color: black;
    text-align: center;

}

.borda1:hover {
    transform: scale(1.2);
}

.borda2:hover {
    transform: scale(1.2);
}

.borda3:hover {
    transform: scale(1.2);
}


/*Formulario*/

.input-padrao{
    display: block;
    margin: 0 0 20px 50px;
    padding: 10px 25px;
    width: 85%;
}

fieldset{
    width: 40%;
    height: 55%;
    margin: auto;
}



.titulo_contato {
    padding: 40px;
    color: black;
}

.titulo_contato::before {
    content:"📞";
}
